*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#background{
    width: 100%;
    height: 100%;
    background-color: black;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: contain;
    background-position: 60%;
    background-image: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

#circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.5px solid rgba(10,10,10,0.138);
}

#wrapper h1{
    color: #fff;
    font-size: 600px;
    font-weight: 900;
    font-family: "Montserrat";
}
