*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#background{
    width: 100%;
    height: 100%;
    background-color: black;
}

#circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.2px solid #fff;
}